name: Generate pacman animation

on:
  schedule: # execute every 12 hours
    - cron: "* */12 * * *"
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      # 1. Checkout the repo so we don't overwrite existing files
      - name: Checkout
        uses: actions/checkout@v3

      # 2. Generate the image (Creates it in dist/)
      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      # 3. Move the file from dist/ to the root directory
      - name: Move to root
        run: mv dist/pacman-contribution-graph.svg .

      # 4. Commit the file in the root directory
      - name: Push changes
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: Update pacman contribution graph
          branch: main
          # Note: file_pattern now looks for the file in the root
          file_pattern: pacman-contribution-graph.svg
